// @font-face {
//     font-family: "VaryloopSolid";
//     src: url('webFonts/VaryloopSolid/font.woff2') format('woff2'), url('webFonts/VaryloopSolid/font.woff') format('woff');
// }
  
$html-font-size: 16px;

// Colors
$color-black: #030B2D;
$color-white: #fff;
$color-purple: #9AB6FF;
$color-clear-blue: #2560ED;
$color-light-blue: #49D8FE;


// Fonts
$font-family-default: 'brandon-grotesque', sans-serif;
$font-family-title: '__myFont_537e0a', sans-serif;